body { 
background: #000;
color: #fff; 
font-family: "arial", sans-serif;
font-size: 14px;
background-image: url("/img/back.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
}

.main {
max-width: 600px;
margin: 20px;
padding:10px;
}

.title {
font-family: 'Calistoga', cursive;
font-size: 42px;
letter-spacing:-1px;
}

.post {
font-size: 14.5px;
line-height:1.5;
padding-bottom: 20px;
font-family: 'Inter', sans-serif;
border-bottom: 2px solid #000;
}
    
a:link, a:visited { 
color: #555; 
text-decoration: none;
}
    
h1, h2, h3 {  
font-weight:normal;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;    
}
