body {
background: #efefef; 
font-family: "arial", sans-serif;
font-size: 14px;
  background-image: url("back.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}



.main {
max-width: 600px;
margin: 20px;
padding:10px;
}

.title {
font-family: 'Poppins', sans-serif;
font-size: 42px;
line-height:1.3;
}

.post {
font-size: 14.5px;
line-height:1.5;
padding-bottom: 20px;
font-family: 'Inter', sans-serif;
border-bottom: 2px solid #000000;
margin-bottom:20px;
}
    
a:link, a:visited { 
color: #555; 
text-decoration: none;
}
    
h1, h2, h3 {  
font-weight:normal;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;    
}

img {
  float: right;
  max-width:150px;
  max-height:150px;
  margin-left:15px;
}
