body { 
background: #fff;
color: #000; 
font-family: "arial", sans-serif;
font-size: 14px;
}

.main {
max-width: 550px;
margin: 20px;
padding:10px;
}

.maintitle {
font-family: 'Bree Serif', serif;
text-align: center;
font-size: 33px;
padding-bottom: 20px;
}

.header {
font-family: 'Syne Mono', monospace;
text-align: center;
font-size: 22px;
}

.post {
text-align: justify;
font-size: 14.5px;
line-height:1.4;
padding-bottom: 50px;
font-family: 'Inter', sans-serif;
}
    
a:link, a:visited { 
color: #555; 
}
    
h1, h2, h3 {  
font-weight:normal;
}
