body {
background: #f2f2f2; 
font-family: "arial", sans-serif;
font-size: 14px;
color:#000000;
}
 
.main {
max-width: 700px;
margin: 20px;
padding:10px;
}

.title {
font-family: 'Poppins', sans-serif;
font-size: 33px;
color:#000000;
line-height:1.3;
font-weight:600;
border-bottom:2px solid #b9bcbc;
padding-bottom:5px;
}

.post {
font-size: 14px;
line-height:1.4;
padding-bottom: 20px;
font-family: 'arial', sans-serif;
border-bottom: 2px solid #b9bcbc;
margin-bottom:20px;
}
    
a:link, a:visited { 
color: #348081; 
text-decoration: none;
}

a:hover { 
color: #5dbdbe; 
text-decoration: underline;
}
    
h1, h2, h3 {  
font-weight:normal;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;    
}

img {
  float: right;
  max-width:300px;
  height:auto;
  margin-left:15px;
}
