body { 
background: #fff;
color: #000; 
font-family: "arial", sans-serif;
font-size: 14px;
}

.main {
max-width: 600px;
margin: 20px;
padding:10px;
}

.title {
font-family: 'Playfair Display', serif;
font-size: 42px;
letter-spacing:-1px;
}

.post {
font-size: 14.5px;
line-height:1.5;
padding-bottom: 20px;
font-family: 'Inter', sans-serif;
border-bottom: 2px solid #000;
}
    
a:link, a:visited { 
color: #555; 
}
    
h1, h2, h3 {  
font-weight:normal;
}
