body { 
background: #fff;
color: #000; 
font-family: "arial", sans-serif;
font-size: 14px;
}

.main {
max-width: 600px;
margin: 20px;
padding:10px;
}

.header {
font-family: 'Syne Mono', monospace;
text-align: center;
font-size: 22px;
}

.post {
text-align: justify;
font-size: 14px;
padding-bottom: 50px;
}
    
a:link, a:visited { 
color: #555; 
}
    
h1, h2, h3 {  
font-weight:normal;
}
